<?xml version="1.0"?>
<concrete5-cif version="1.0">
	<config>
		<SITE_DEBUG_LEVEL>1</SITE_DEBUG_LEVEL>
		<ENABLE_LOG_EMAILS>1</ENABLE_LOG_EMAILS>
		<ENABLE_LOG_ERRORS>1</ENABLE_LOG_ERRORS>
		<ENABLE_CACHE>1</ENABLE_CACHE>
		<FULL_PAGE_CACHE_GLOBAL>0</FULL_PAGE_CACHE_GLOBAL>
		<ENABLE_MARKETPLACE_SUPPORT>1</ENABLE_MARKETPLACE_SUPPORT>
		<LOADED_CSS_ASSETS>a:1:{i:0;s:12:"ccm.base.css";}</LOADED_CSS_ASSETS>
		<LOADED_JS_ASSETS>a:2:{i:0;s:11:"ccm.base.js";i:1;s:9:"jquery.js";}</LOADED_JS_ASSETS>
	</config>
</concrete5-cif>
